body{
    background-image:url(../img/pattern.jpg);
    margin: 0px;
}
div{
    background-color: white;
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
}
ul{
    list-style: none;
}
    li{
        margin: 5px;
        display: inline;
    }
    a{
        text-decoration: none;
    }
    main{
        background-color:white;
        margin: 80px 150px 30px;
        padding: 20px;
    }
    article{
        border-bottom:   2px solid black;
        margin: 5px;
    }
    h4{
        text-align: center;
    }
    .penutup{
        background-color: gray;
        padding: 20px;
    }
    h5{
        background-color: black;
        padding: 30px;
        color:white;
        text-align: center;
    }
    h1{text-align: center;}